{% extends "page.html" %};.l
{% load static %}

{% block page_title %}
All Persons
{% endblock %}

{% block css_styles %}

{% endblock %}

{% block content %}
<section id="all-persons">
    <h2>Persons</h2>
    <a href="{% url 'demo-person-create' %}">New Person</a>
    {%  if persons %}
        <p>
        Number of persons: {{ persons|length }}
        </p>
    {% endif %}
    <ul>
        {% for person in persons %}
            <li><a href="{% url 'demo-person-detail' person.id %}">{{ person.firstname }} {{ person.lastname }}</a></li>
        {% empty %}
            <li>No Persons</li>
        {% endfor  %}
    </ul>
</section>
{% endblock %}