{% extends "page.html" %};.l
{% load static %}

{% block page_title %}
All Persons
{% endblock %}

{% block css_styles %}

{% endblock %}

{% block content %}
<section id="person-detail">
    <h2>Person</h2>
    <p>
        Name: {{ person.firstname }} {{ person.lastname }}
    </p>
    <p>
        Comment: {{ person.comment }}
    </p>
    <p>
        <a href="{% url 'demo-person-update' person.id %}">Update</a>
        <a href="{% url 'demo-person-delete' person.id %}">Delete</a>
    </p>
</section>
{% endblock %}